<html>
<head>
<style>
#buttons {
	display:table;
	margin:auto;
}
.tabbutton {
	display:inline-block;
	cursor:pointer;
}
.tabbutton:hover {
	color:red;
}
.tab {
	opacity:0;
	overflow:hidden;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.tab p {

}
#message {
	height:200px;
	width:500px;
}
</style>
</head>
<body>
	<div id="buttons">
		<div class="tabbutton" onclick="showtab('education')">Education</div>
		<div class="tabbutton" onclick="showtab('projects')">Projects</div>
		<div class="tabbutton" onclick="showtab('experience')">Experience</div>
		<div class="tabbutton" onclick="showtab('skills')">Skills</div>
		<div class="tabbutton" onclick="showtab('organizations')">Organizations</div>
		<div class="tabbutton" onclick="showtab('contact')">Contact</div>
	</div>
	<div class="tab" id="education">
		<p>Ben is a Computer Engineering student, anticipating graduation in December 2015. Featured courses include CS1520: Programming Languages for Web Applications, CS1571: Introduction to Artificial Intelligence, and CS1675: Introduction to Machine Learning
		</p>
	</div>
	<div class="tab" id="projects">
		<p>
		CS1571: One project was to write a program that uses the Q-Learning method to gradually learn to play the game Flappy Bird.<br>
		<img src="flapshot.png">
		<br>
		CS1675: I, along with two other students, created a turn based, RPG style combat game where the computer player learns from the actions and outcomes of the player.
		</p>
	</div>
	<div class="tab" id="experience">
		<p>
		I worked during the summer of 2015 for a software security company in northern Virginia. While there, I assisted in the testing and review of desktop and mobile applications, searching for and reporting on security flaws contained therein.
		</p>
	</div>
	<div class="tab" id="skills">
		<ul>
			<li>Front End Development: I know how to use javascript and CSS to build and change the user interface of a web page</li>
			<li>Application Security: I can perform static tests and code reviews to identify vulnerabilities to cross site scripting, SQL injection, privelege escalation, and more</li>
			<li>Coaching: I am skilled in teaching and directing teams of people in things they might not have used in the past.</li>
		</ul>
	</div>
	<div class="tab" id="organizations">
		<p>I served as the president and captain of the Panthers Field Hockey Club, leading the team to a club-best finish in the top 4 clubs in the country</p>
	</div>
	<div class="tab" id="contact">
		Enter your message<br>
		<input id="message" name="message" type="text"></input>
		<button onclick="sendemail()">Send</button>

	</div>
	<script type="text/javascript">
		function createXmlHttp() {
			var xmlhttp;
			if (window.XMLHttpRequest) {
			  xmlhttp = new XMLHttpRequest();
			} else {
			  xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
			}
			if (!(xmlhttp)) {
			  alert("Your browser does not support AJAX!");
			}
			 return xmlhttp;
		}

		// use the given xmlHttp object to send the given parameters to the 
		// target URL.  parameters should be a URL formatted string.
		function getRequest(xmlHttp, target) {
		  if (xmlHttp) {
		    xmlHttp.open("Get",target,true);
		    //xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		    xmlHttp.send();
		   }
		}

		function sendemail(){
			var message = document.getElementById("message").value;

			var xmlhttp = createXmlHttp()
			xmlhttp.onreadystatechange = function() {
				if(xmlhttp.readyState==4) {
					if(xmlhttp.responseText == "true") {
						document.getElementById("message").value = ""
					}
					else {
						alert("There was a problem sending your message")
					}
				}
			}
			getRequest(xmlhttp, "/email?message="+message);
		}

		function showtab(tabid) {
			document.getElementById("education").style.height="0"
			document.getElementById("education").style.opacity="0"
			document.getElementById("projects").style.height="0"
			document.getElementById("projects").style.opacity="0"
			document.getElementById("experience").style.height="0"
			document.getElementById("experience").style.opacity="0"
			document.getElementById("skills").style.height="0"
			document.getElementById("skills").style.opacity="0"
			document.getElementById("organizations").style.height="0"
			document.getElementById("organizations").style.opacity="0"
			document.getElementById("contact").style.height="0"
			document.getElementById("contact").style.opacity="0"
			var tab=document.getElementById(tabid)
			tab.style.height="auto"
			tab.style.opacity="1"

			//tabid.style.visibility="visible"
		}
	</script>
</body>
</html>